// Colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$photography-text: hsl(198, 62%, 26%);
$footer-icons: #2c7566;
$footer-text: hsl(168, 34%, 41%);
$footer-bg: rgb(138, 210, 197);
$white: hsl(0, 0%, 100%);

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);

// Typography
$fz-basic: 18px;
$family-description: "Barlov", sans-serif;
$fw-descr: 600;
$family-title: "Fraunces", sans-serif;
$fw-title-semi-bold: 700;
$fw-title-bold: 900;
